# Datatypes exercises

## Exercise 1

Write the following mathematical formula in Python:

\begin{align}
 result = 6a^3 - \frac{8b^2 }{4c} + 11
\end{align}

```python
a = 2
b = 3
c = 2
```

> write your formula as 
```python
result = 
```

It must verify
```python
>>> assert result == 50

In [15]:
# exercice 1
a=2
b=3
c=2
result = 0
result = 6*a**3 - (8*b*b)/(4*c) +11

print(result)

50.0

## Exercise 2

Explain why the folowing assertion fails

In [2]:
# exercice 2
(0.1 + 0.2) == 0.3
 # 0.1 + 0.2: This equals 0.3, but in floating-point: (0.1 + 0.2) == 0.3 is false. 
# This is because 0.1, 0.2 and 0.3 cannot be precisely represented in base 2 floating-point. 
# but the output is actually true .

False

## Exercise 3

Write a Python program to sum all the items in a list

In [3]:
sum_list = [10, 20, -1]
print(sum(sum_list))

29

## Exercise 4

Write a program that asks how long it took to run 10 km today. The program continues to ask how long (in minutes) it took for additional runs, until the user enters q. At that point, the program exits â€” but only after calculating and displaying the average time that the 10 km run took.  


Example:
```
Enter 10 km run time: 15
Enter 10 km run time: 20
Enter 10 km run time: 10
Enter 10 km run time: q

Average of 15.0, over 3 runs
```

## Exercise 5

Write a function that takes a string and returns the sorted string.

In [ ]:
def sort_string(s):
    # Code Here

assert sort_string("cab") == "abc"

## Exercise 6

Write a function that take a string of multiple words and returns the position of the word with most repeated letters

In [ ]:
def wwmrl(s):
    #Code Here
assert wwmrl(['this', 'is', 'an', 'elementary', 'test', 'example']) == 3

## Exercise 7

1. Create a tuple
2. Unpack the tuple in multiple variables

In [2]:
tuple=('a','b','c','d')
a,b,c,d=tuple

## Exercise 8

Write a Python program to sort a tuple by its float element.  
Sample data: `[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]`  
Expected Output: `[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]`

In [5]:
A= ('item1', '12.20')
B=('item2', '15.10')
C=('item3', '24.5')
print(A,B,C)
print(C,B,A)

('item1', '12.20') ('item2', '15.10') ('item3', '24.5')
('item3', '24.5') ('item2', '15.10') ('item1', '12.20')

## Exercise 9

Write a Python script to concatenate dictionaries to create a new one.

In [6]:
dict1 = {1:10, 2:20}
dict2 = {3:30, 4:40}
dict3 = {5:50,6:60}
dict4 = {**dict1 , **dict2 , **dict3}
print (dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

## Exercise 10

Write a Python program to combine two dictionary adding values for common keys.

In [12]:
from collections import Counter
d_1 = {'a': 100, 'b': 200, 'c':300}

d_2 = {'a': 300, 'b': 200, 'd':400}

d=Counter(d_1)+Counter(d_2)
d

Counter({'a': 400, 'b': 400, 'c': 300, 'd': 400})

## Exercise 11

Write a Python program to extract values from a given dictionaries and create a list of lists from those values.

Original Dictionary:  
`[{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]`  
Output:  
`[[1, 'Jean Castro', 'V'], [2, 'Lula Powell', 'V'], [3, 'Brian Howell', 'VI'], [4, 'Lynne Foster', 'VI'], [5, 'Zachary Simon', 'VII']]`

In [9]:
def test(dictt,keys):
    return [list(d[k] for k in keys) for d in dictt] 

students = [
        {'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, 
        {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'},
        {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, 
        {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, 
        {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}
        ]

print("\nOriginal Dictionary:")
print(students)
print("\nExtract values from the said dictionarie and create a list of lists using those values:")
print("\n",test(students,('student_id', 'name', 'class')))
print("\n",test(students,('student_id', 'name')))
print("\n",test(students,('name', 'class')))

Original Dictionary:
[{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]

Extract values from the said dictionarie and create a list of lists using those values:

 [[1, 'Jean Castro', 'V'], [2, 'Lula Powell', 'V'], [3, 'Brian Howell', 'VI'], [4, 'Lynne Foster', 'VI'], [5, 'Zachary Simon', 'VII']]

 [[1, 'Jean Castro'], [2, 'Lula Powell'], [3, 'Brian Howell'], [4, 'Lynne Foster'], [5, 'Zachary Simon']]

 [['Jean Castro', 'V'], ['Lula Powell', 'V'], ['Brian Howell', 'VI'], ['Lynne Foster', 'VI'], ['Zachary Simon', 'VII']]